.filterable-list-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2rem;
}

.filterable-list {
    grid-column: auto / span 9;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.filterable-list .filterable-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    color: var(--black, black) !important;
    background-color: antiquewhite;
    border-radius: 1rem;
    text-decoration: none;
}

.filterable-list .filterable-list-item:hover {
    /* scale: 1.01; */
}

.filterable-list .filterable-list-item.hide {
    display: none;
}

.filterable-list .filterable-list-item-picture {
    height: 100%;
}

.filterable-list .filterable-list-item-picture img{
    aspect-ratio: 4 / 3;
    object-fit: cover;
    height: 100%;
}

.filterable-list .filterable-list-item-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filterable-list .filterable-list-item-title {
    margin: 0;
}

.filterable-list .filterable-list-item-desc{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.filterable-list .filterable-list-item-cta {
    text-decoration: none;
    color: aliceblue;
    background: black;
    display: flex;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.filterable-list .filterable-list-item-cta:hover {
    scale: 1.02;
}

.filterable-list-filters {
    grid-column: auto / span 3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: aliceblue;
    padding: 1rem;
    border-radius: 1rem;
    height: fit-content;
}

.filterable-list-filters .filter-checkbox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filterable-list-filters .filter-checkbox .filter-label {
    text-transform: uppercase;
    font-weight: bold;
}

.filterable-list-filters .filter-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media (width > 900px) {
    .filterable-list .filterable-list-item {
        flex-direction: row;
    }

    .filterable-list .filterable-list-item-picture img{
        max-width: 20rem;
    }
}
